Source: silversearcher-ag
Section: utils
Priority: optional
Maintainer: Hajime Mizuno <mizuno-as@ubuntu.com>
Build-Depends: debhelper (>= 10), pkg-config, libpcre3-dev, zlib1g-dev, liblzma-dev, python-cram, git
Standards-Version: 4.1.1
Homepage: https://github.com/ggreer/the_silver_searcher

Package: silversearcher-ag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-ase (<< 3.8.1.3440)
Description: very fast grep-like program, alternative to ack-grep
 The Silver Searcher is grep-like program implemented by C.
 An attempt to make something better than ack-grep.
 .
 It searches pattern about 3–5x faster than ack-grep.
 It ignores file patterns from your .gitignore and .hgignore.
